---
layout: default
---

<div class="top-strip"></div>
<main class="content">
    <section class="container">
    	<div class="row-fluid">
            {% include gnb.html %}
<!--
    		<article class="home-icon">
				<a href="/">
					<i class="icon-home"></i> 
				</a>
			</article>
-->
			<article class="post">
                <h5 class="post-date">{{ page.date | date: "%Y.%m.%d %H:%M" }}</h5>
				<h2 class="page-title">{{page.title}}</h2>
				<section>
					{{ content }}
					<hr>
				</section>
				<section style="font-weight:bold; margin-bottom: 2em;">
					{% if page.previous %} 
							<a rel="prev" class="a-hover"href="{{ page.previous.url }}"><i class="icon-double-angle-left"></i> {{ page.previous.title }}</a>
						{% endif %}
						{% if page.next %} 
							<a rel="next" style="float:right" class="a-hover"href="{{ page.next.url }}">{{ page.next.title }} <i class=" icon-double-angle-right"></i></a>
					{% endif %}
				</section>
			</article>
		</div>
        <!-- (s) 애드센스 -->
<!--        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
        <!-- 리더보드 -->
<!--
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-3883225632677756"
             data-ad-slot="7765208423"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
-->
        <!-- (s) 애드센스 -->
	</section>
</main>